@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: #f1f1f1;
  --color-base-200: #d4d4d4;
  --color-base-300: #b8b8b8;
  --color-base-content: #0e0e0e;
  --color-primary: #9e0059;
  --color-primary-content: #ffffff;
  --color-secondary: #9e4f00;
  --color-secondary-content: #ffffff;
  --color-accent: #ff66b3;
  --color-accent-content: #ffffff;
  --color-neutral: #ffffff;
  --color-neutral-content: #0e0e0e;
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: #009e00;
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: #9e0000;
  --color-error-content: oklch(98% 0.01 30);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 99999px;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 0;
  --noise: 0;
}

h1 {
  font-weight: 800;
}
h2 {
  color: var(--color-secondary);
  font-weight: 700;
}
